/Git_Branching.iml
/.idea/
*.iml
out

Create gitignore
1) right click on project -> new -> file -> .gitignore
  type the normal file
2) you select the file/s you want to add to git ignore  -> right click on the files -> git
-> add to .gitignore
Commit the changes locally
Sharing the project
 -> creates a remote repository
 -> link our project with the remote repository
 -> pus the changes so far

or manually:
-> gone to github.com -> repositories
-> create a new repository
-> took the link from github, then go to intelliJ, go to git -> manage remotes
and add click the plus icon. put the url
-> push the first changes



